<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Favourite Books List </h3>
          <!-- add button -->
          <a href="/books/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-square"></i> Add Book</a>
          <!-- ------------------------ -->
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">Title</th>
                  <th class="text-center">Author</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Genre</th>
                  <th class="text-center">Price</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < book.length; count++) { %>
                <tr>
                  <td><%= books[count].Title %></td>
                  <td class="text-center">$<%= book[count].Title %></td>
                  <td class="text-center"><%= book[count].Author %></td>
                  <td class="text-center">$<%= book[count].Description %></td>
                  <td class="text-center"><%= book[count].Genre %></td>
                  <td class="text-center"><%= book[count].Price %></td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the EDIT BUTTON HERE -->
                    <a href="/books/edit/<%= book[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-user-edit"></i> Edit</a>
                  </td>
                 
                    <!-- ------------------------ -->
                    <!-- ADD the DELETE BUTTON HERE -->
                    <!-- ------------------------ -->
                    <td class="text-center">
                     <a href="/books/delete/<%= book[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash"></i> Delete</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


